@font-face {
    font-family: Shelley-AndanteScript;
    src: url(../font/Shelley-AndanteScript.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
a{
    font-family: Shelley-AndanteScript;
    font-size: 40px;
    color: gold;
}