*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}
li {
    list-style: none;
}
a {
    color: inherit;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
img {
    vertical-align: top;
}

body,
html {
    height: 100%;
    line-height: 1;
}
.wrapper{
    overflow: hidden;
}
.header{
    border: blue solid;
    padding: 40px;
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
h1{
    color: aqua;
    font-family: Lobster;
}
.main span{
    font-family: Mulish;
    font-weight: 400;
    font-size: 20px;
}
.main a{
    color: chartreuse;
    text-decoration: underline;
}
.main-1{
    font-family: Mulish;
    font-weight: 900; 
}
.main-1 img{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
}
.text{
    font-family: Mulish;
    font-weight: 400;
    font-size: 25px;
}
.text-2{
    border: solid red;
    color: coral;
    display: inline-block;
    padding: 70px;
    }
    .ice{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 40px; 
    }
    .text-3 .text-4{
        color: darkmagenta;
        font-size: 30px;
        padding: 20px;
        font-family:Lobster;
        text-align: right;
    }
.list{
    color: darkolivegreen;
    font-family: Lobster;
    font-size: 40px;
    text-decoration:underline;
}
.text-5{
    border: solid green;
    font-size: 50px;
    display:block;
    padding: 30px;
    margin: 40px;
}
.text-6-p{
display: block;
min-width: 50px;
font-size: 30px;
text-shadow: 4px 4px red;
text-align: center;
margin: 40px;
}
.text-6 .text-7{
    color: hotpink;
    text-shadow: 0px 0px;
    overflow: scroll;
    display: block;
    max-height: 200px;
}
.text-6 .text-8{
    color: rgb(63, 31, 104);
    font-family: Mulish;
    font-weight: 900; 
    text-shadow: 0px 0px;
    display:inline-block;
    max-width: 70%;
}